---
layout : default_open.html
title : Login
---


<section class="container-fluid app-wrapper no-sidebar p-0">

    <div class="content p-0">
        <form id="login_form">

            <div class="shadow-lg">
                <h3>
                    Sign in to Brusselslife.be
                    <small>
                        Enter your details below.
                    </small>
                </h3>
                <div class="form-group">
                    <label for="">EMAIL ADDRESS</label>
                    <input type="text" class="form-control" placeholder="Email address">
                </div>
                <div class="form-group">
                    <label for="">PASSWORD</label> <a class="btn btn-link float-right" href="#">Forgot Password ?</a>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-md btn-success"> Login <i class="fa fa-sign-in" aria-hidden="true"></i> </button>
            </div>
            <!--<div class="overlay"></div>-->

        </form>
    </div>
</section>
