<div class="sidebar">
    <a href="#" id="logo">
        <img src="/assets/images/logo.png" alt="">
    </a>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/" (click)="signOut()">
                    <i class="fa fa-power"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>