---
layout : default.html
title : Home page | Brusselslife.be | Belgium life style site | Brussels news, restaurants, shopping, events & happenings.
script : home.js
---

<!-- home search -->
{{> home-search }}

<!-- leader board advertisement -->
{{> leader-board }}

<article class="page-home">
    <section class="container shadow">
        <div class="row no-gutters">
            {{> full-news-block}}
        </div>
        <!-- Block 1 | 16  -->
        <div class="row">
            {{> block-1}}
            {{> block-16}}
        </div>
        <!-- Block 2 | Agenda -->
        {{> block-2}}
        <!-- Block 17 | 18  -->
        <div class="row">
            {{> block-17}}
            {{> block-20}}
        </div>
        <!-- Block 3 section  -->
        {{> block-3}}
        <!-- Block 4 | Full block image  -->
        {{> block-4}}

        <!-- Block 5 | Interviews  -->
        {{> block-5}}
        <!-- Block 6 | Interviews  -->
        {{> block-6}}
        <!-- Block 7 | Near by address -->
        {{> block-7}}
    </section>
</article>
