<div class="content_body">
    <div class="row">
        <div class="col-4 left_panel">
            <div class="list" #tref>
                <ul class="list-unstyled">
                    <li *ngFor="let number of numbers">
                        <div class="item_info">
                            <p class="r_id">
                                <strong>
                                    EK-000001
                                </strong>
                            </p>
                            <p class="r_name text-info">
                                Ekornes Skandinavia A/S
                            </p>
                            <p class="r_mails">
                                <button class="btn btn-default mail-k"
                                        ngbTooltip="Mail Kunde"
                                        placement="bottom"
                                        title="Mail Kunde">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-default mail-l"
                                        ngbTooltip="Mail Laverandor"
                                        placement="bottom"
                                        title="Mail Laverandor">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </button>
                            </p>
                            <p class="r_date">
                                <strong>
                                    06/09/2018
                                </strong>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="" class="badge badge-warning">
                                    Venter svar
                                </label></div>
                            <div class="col-sm-4"><label for="" class="badge badge-success">
                                Godkjent
                            </label></div>
                            <div class="col-sm-4"><label for="" class="badge badge-info">
                                Under behandling
                            </label></div>
                            <div class="col-sm-1">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </li>
                </ul>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="right_side_panel" #right_side_panel
             class="col-8 right_panel">
            <div class="list_content">
                <div class="list_preview" id="list_preview">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="right_panel_header">
                                <p class="r_id">
                                    <strong>
                                        EK-000001
                                    </strong>
                                </p>
                                <p class="r_name text-info">
                                    Ekornes Skandinavia A/S
                                </p>
                                <button class="btn btn-default btn-rounded float-right close_right_preview"
                                        ngbTooltip="Close"
                                        placement="top"
                                        title="Close">
                                    <i class="fa fa-close"></i>
                                </button>
                                <button class="btn btn-danger btn-rounded float-right"
                                        ngbTooltip="Delete"

                                        placement="top"
                                        title="Delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>

                                <p class="r_date float-right">
                                    <strong>
                                        06/09/2018
                                    </strong>
                                </p>
                            </div>
                            <div class="right_panel_info">
                                <div class="row">
                                    <div class="col-sm-6 p-0 border-right">
                                        <button class="btn btn-primary mail-k">
                                            <i class="fa fa-envelope"></i> Kunde
                                        </button>
                                    </div>
                                    <div class="col-sm-6 p-0">
                                        <button class="btn btn-primary mail-l">
                                            <i class="fa fa-envelope "></i> Leverandør
                                        </button>
                                    </div>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-4 text-right p-0 pr-4">
                                                <p>
                                                    <strong>
                                                        Reklamasjon
                                                    </strong>
                                                </p>
                                            </div>
                                            <div class="col-sm-4 p-0">
                                                <label for="" class="badge badge-warning">
                                                    Venter svar
                                                </label>
                                            </div>
                                            <div class="col-sm-4 text-left p-0 pl-4">

                                                <button class="btn btn-success" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Apply">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button class="btn btn-info" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Document">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-danger" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Delete">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-4 text-right p-0 pr-4">
                                                <p>
                                                    <strong>
                                                        Kreditnota
                                                    </strong>
                                                </p>
                                            </div>
                                            <div class="col-sm-4 p-0">
                                                <label for="" class="badge badge-success">
                                                    Venter svar
                                                </label>
                                            </div>
                                            <div class="col-sm-4 text-left p-0 pl-4">


                                                <button class="btn btn-info">
                                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-danger">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-4 text-right p-0 pr-4">
                                                <p>
                                                    <strong>
                                                        Product
                                                    </strong>
                                                </p>
                                            </div>
                                            <div class="col-sm-4 p-0">
                                                <select name="" class="form-control form-control-sm" id="">
                                                    <option value="-1">Under behandling</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 text-left p-0 pl-4">

                                                <button class="btn btn-success">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- kunde email box-->
                <div class="mail_box" id="kunde-mailbox">
                    <div class="card rounded-0">
                        <div class="card-header rounded-0">
                            <h3 class="float-left">
                                <i class="fa fa-envelope"></i> Kunde
                            </h3>
                            <button class="btn btn-danger border-0 float-right mail_box_close"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Close">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-2  col-md-12">
                                                    <label for="">Name</label>
                                                </div>
                                                <div class="col-xl-10 col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Full name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-2  col-md-12">
                                                    <label for="">Address</label>
                                                </div>
                                                <div class="col-xl-10  col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Full name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-3  col-md-12">
                                                    <label for="">Work</label>
                                                </div>
                                                <div class="col-xl-9 col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Work">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-3  col-md-12">
                                                    <label for="">City</label>
                                                </div>
                                                <div class="col-xl-9  col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="City">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-3  col-md-12">
                                                    <label for="">Email</label>
                                                </div>
                                                <div class="col-xl-9  col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Email Address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="form-group my-2">
                                            <input id="r1" name="option" type="radio" value="0">
                                            <label for="r1"> Radio button</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="r2" name="option" type="radio" value="0">
                                            <label for="r2"> Radio button 2</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="r3" name="option" type="radio" value="0">
                                            <label for="r3"> Radio button</label>
                                        </div>

                                    </div>


                                    <div class="col-xl-3 col-sm-6">
                                        <div class="form-group my-2">
                                            <input id="c1" name="option" type="checkbox" value="0">
                                            <label for="c1"> Checkbox</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="c2" name="option" type="checkbox" value="0">
                                            <label for="c2"> Checkbox2</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="c3" name="option" type="checkbox" value="0">
                                            <label for="c3"> Checkbox3</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <button class="btn btn-default btn-file-browser">
                                                <i class="fa fa-upload"></i> Upload file
                                                <input type="file">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- laverandor email box-->
                <div class="mail_box" id="laverander-mailbox">
                    <div class="card rounded-0">
                        <div class="card-header rounded-0">
                            <h3 class="float-left">
                                <i class="fa fa-envelope"></i> Laverandor
                            </h3>
                            <button class="btn btn-danger border-0 float-right mail_box_close"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Close">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-2  col-md-12">
                                                    <label for="">Name</label>
                                                </div>
                                                <div class="col-xl-10 col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Full name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-2  col-md-12">
                                                    <label for="">Address</label>
                                                </div>
                                                <div class="col-xl-10  col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Full name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-3  col-md-12">
                                                    <label for="">Work</label>
                                                </div>
                                                <div class="col-xl-9 col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Work">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-3  col-md-12">
                                                    <label for="">City</label>
                                                </div>
                                                <div class="col-xl-9  col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="City">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-3  col-md-12">
                                                    <label for="">Email</label>
                                                </div>
                                                <div class="col-xl-9  col-md-12">
                                                    <input type="text" class="form-control form-control-sm"
                                                           placeholder="Email Address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="form-group my-2">
                                            <input id="r1" name="option" type="radio" value="0">
                                            <label for="r1"> Radio button</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="r2" name="option" type="radio" value="0">
                                            <label for="r2"> Radio button 2</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="r3" name="option" type="radio" value="0">
                                            <label for="r3"> Radio button</label>
                                        </div>

                                    </div>


                                    <div class="col-xl-3 col-sm-6">
                                        <div class="form-group my-2">
                                            <input id="c1" name="option" type="checkbox" value="0">
                                            <label for="c1"> Checkbox</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="c2" name="option" type="checkbox" value="0">
                                            <label for="c2"> Checkbox2</label>
                                        </div>
                                        <div class="form-group my-2">
                                            <input id="c3" name="option" type="checkbox" value="0">
                                            <label for="c3"> Checkbox3</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xl-2">
                                                    <label for="">Body text</label>
                                                </div>
                                                <div class="col-xl-10">
                                                    <div class="form-group">
                                                        <textarea name="" id="" cols="30" rows="5"
                                                                  class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <button class="btn btn-default btn-file-browser">
                                                <i class="fa fa-upload"></i> Upload file
                                                <input type="file">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- no results-->
                <div id="no_results" class="right_panel_no_results">
                    <div>
                        <img src="/assets/images/logo.png" alt="">
                        <h3>
                            Click the left side list to view information
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
