---
layout : default.html
title : Article page | Brusselslife.be
---
{{> breadcrumb}}

<!-- address page paid-->
<section id="article-page">
    <div class="container">
        <div class="row article-title">
            <div class="col-12">
                <h1 class="my-2">
                    Au mois de mai, Bruxelles fête ses marchés !
                </h1>
                <h2 class="my-2">
                    La Ville de Bruxelles met à l'honneur les marchés bruxellois avec la Fête internationale des
                    Marchés. De nombreuses activités sont organisées en mai.
                </h2>
                <div class="d-flex flex-row">
                    <p class="publish-date">
                        Créé le 28/03/2018 - Dernière mise à jour le 03/07/2018
                    </p>
                    <p class="author-name">
                        | Par <a href="#">Donatienne de Vleeschauwer</a>
                    </p>
                </div>

                <div class="d-flex flex-row">
                    <div class="addthis_inline_share_toolbox"></div>
                    <div class="write-comments-count d-flex">
                        <p>
                            Write Comments
                        </p>
                        <div>
                            <div class="comments-count">03</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 border-right">

                <figure>
                    <img class="main-image img-fluid" src="{{assets}}images/article_body_img.jpg" alt="Article Page">
                </figure>

                <div class="filters">
                    <div class="category">
                        <a href="#">SHOPPING <i class="fa fa-angle-right"></i></a>
                    </div>
                    <a href="" class="blife-filter position-relative">
                        ALIMENTATION
                    </a>
                </div>

                <div class="content-body">
                    <h2>
                        La Ville de Bruxelles aime ses marchés et vous ?
                    </h2>
                    <p>
                        La 3e édition de la Fête internationale des Marchés s’invite sur les étals des commerçants
                        pendant le mois de mai. A Bruxelles, mais en Wallonie aussi, de nombreuses activités seront
                        organisées pour célébrer le dynamisme et la convivialité de ces lieux de vente. <br>
                        Depuis le 5 mai, la Belgique participe à la campagne internationale <a href="#">« J’aime mon
                        marché »</a>. Cet événement, coordonné en Belgique par le
                        <a href="#">Marché Matinal MABRU</a> et les établissements Charve, a pour objectif de mettre en
                        valeur les marchés alimentaires.
                    </p>
                </div>
                <subscribe>
                    <div class="card border-0 rounded-0  subscribe-form bg-cayan mb-3">
                        <div class="card-header border-0 bg-transparent pb-0">
                            <h3 class="text-white my-2">
                                <strong>
                                    Abonnez-vous à la newsletter de Brusselslife.be
                                </strong>
                            </h3>
                            <p class="text-white">

                                Inscrivez-vous à la newsletter de Brusselslife.be pour rester au courant de l’actualité,
                                des nouvelles adresses, de nos derniers articles, des événements à venir et des
                                dernières promotions.

                                <a href="#">Privacy Policy</a>
                            </p>
                        </div>
                        <div class="card-body border-0 bg-transparent pt-0">
                            <form action="">

                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <input type="email" class="form-control form-control-lg"
                                               placeholder="Email Address">
                                    </div>
                                    <div>
                                        <button class="btn btn-danger btn-lg">
                                            Submit
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </subscribe>
                <div class="content-body">
                    <figure>
                        <img class="img-fluid" src="{{assets}}images/article_body_img_2.jpg" alt="">
                    </figure>
                    <p>
                        La Ville de Bruxelles organise 15 marchés par mois et durant ce mois de mai, il y aura de
                        nombreuses activités organisées : ateliers ludiques, tombola, petits concerts, etc. Les
                        commerçants proposeront aussi des dégustations et distribueront des badges et sacs
                        réutilisables « J’aime mon marché ».
                    </p>

                </div>
                {{> block-8}}
            </div>
            <div class="col-md-5 pr-0">
                {{> block-9 }}
                {{> imu-square }}
                {{> block-10 }}
                {{> block-11 }}
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

</script>