#article-page {
  .col-md-7,
  .col-md-5 {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}

.article-title {
  h1 {
    font-size: $h1 +9;
    color: #000;
    font-weight: bold;
  }
  h2,
  p.publish-date,
  p.author-name {
    font-family: $secondary-title-font;
    font-size: $h2;
    color: $primary-blue;

  }

  p.publish-date,
  p.author-name {
    color: $content-color-light;
    font-size: $h3;
  }
}
