#block-2 {
  background-color: #1D1D1D;
  margin: 0px -20px;
  .block-content {
    padding: $gutter;
  }

  div.card {
    background-color: #fff;
    width: 275px;
    margin-right: $gutter;

    img {
      height: 175px;
    }
    h3 {
      font-family: $secondary-title-font;
      color: #000;
      font-size: $h3+4;
      font-weight: bold;
    }
    .date-time {
      font-family: $secondary-title-font;
      color: $content-color-light;
      font-size: $h6+2;
      position: absolute;
      bottom: $gutter;
      left: $gutter;
      font-weight: 300;
    }
    div.card-body {
      min-height: 175px;
    }

    &:hover {
      background-color: #000;

      .date-time,
      h3 {
        color: $primary-white;
      }
    }
  }
}