#block-5 {
  h3 {
    margin: 0px 0px $gutter/2 0px;
    font-size: $h4;
  }
  .author-block {
    .media-body {
      font-family: $title-font;
      color: $content-color-dark;
      font-size: $h6;

      a {
        font-family: $title-font;
        color: $content-color-dark;
        font-size: $h5;

        &:hover {
          text-decoration: underline;
          color: $primary-cayan-dark;
        }
      }
    }
  }
}