#block-10 {
  background: #BCBABD;
  padding: 10px;
  margin: 0px -25px 0px -20px;

  .block-content {
    background: #fff;
    padding: 15px;
  }

  .address-list-carousel {
    .carousel-cell {
      width: 250px;
      margin-right: 20px;
    }

    a {
      &:hover {
        h5, p {
          color: red;
        }
      }
    }
    h5 {
      font-family: sans-serif;
      color: #000;
      font-size: $h5;
    }
    p {
      font-family: $title-font;
      font-size: $h5;
      font-style: italic;
      font-weight: bold;
      color: $primary-blue;
      margin-bottom: 15px;
    }
  }
}

@include bl-sm {
  #block-10 {
    margin: 0px -5px 0px -25px;
    padding: 10px;
  }
}

@include bl-xs {
  #block-10 {
    margin: 0px -5px 0px -25px;
    padding: 10px;
  }

  .block-address-list {
    ul li:last-child {
      margin-bottom: 0px !important;
    }
  }
}