header {
  background-color: $primary-blue !important;
  .side-menu-trigger {
    display: none;
    position: absolute;
    left: 30px;
    top: 22px;
    width: 44px;
    height: 44px;

    &:hover {
      background-color: $primary-blue !important;
    }

  }
  .nav-right {
    padding-top: 28px;
    padding-right: 30px;
    a {
      color: #fff;
      padding: 7px 15px;
      font-size: 14px;
      font-family: $base-font-family;
      background: $primary-cayan-dark;
      margin: 0px $gutter/2;
      display: block;
      flex-shrink: 0;
    }

    div#lan-dropdown {
      div.dropdown {

        > a {
          font-weight: bold;
        }

        * {
          cursor: pointer;
        }
        ul.dropdown-menu {
          padding: 0px;
          margin-left: 10px;
          min-width: 61px;
          margin-top: 1px;
          border: none;

          a {
            margin: 0px;
            width: 61px;
            text-align: center;
            &:hover {
              background-color: $primary-blue;
            }
          }
        }

        span {
          color: #fff;
          padding: 7px 15px;
          font-size: 14px;
          font-family: $base-font-family;
          background: $primary-cayan-dark;
          margin: 0px $gutter/2;
          display: block;
          flex-shrink: 0;
          width: 61px;
        }
      }
    }
  }
  .logo {
    padding: $gutter/2;
    width: 160px;
  }

  nav {
    background: #fff;
  }
  #blifeNavBar {

  }

  div.main-menu-wrapper {
    width: 1200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: 45px;
  }

  nav, .sub-level-1 {
    position: relative;
    margin: 0 auto;
    ul.main-menu {
      margin: 0 auto;
      text-align: center;
      padding: 0px;
      overflow: hidden;

      li {
        display: inline-block;
        margin-left: -5px;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        flex-shrink: 0;
        word-wrap: normal;
      }

    }
    li a, li a.nav-link {
      -webkit-flex-shrink: 0;
      -ms-flex: 0 0 auto;
      word-wrap: normal;
      flex-shrink: 0;
      font-family: $secondary-title-font;
      font-size: ($h3);
      font-weight: bold;
      display: inline-block;
      padding: $gutter/2 ($gutter)-5;
      position: relative;
      background: $primary-white;
      color: $primary-blue;

      &:before {
        content: '';
        position: absolute;
        width: 1px;
        left: 0px;
        top: 0px;
        height: 47px;
        opacity: 1;
        background: #e0e0e0;
      }

      &:hover {
        background: $primary-blue;
        color: $primary-white;

      }

    }
    li.nav-item {
      //   border:thin solid #000;
    }
    li.nav-item:first-child {
      a {
        &:before {
          opacity: 0;
        }
      }
    }
    li.item-agenda {
      a {
        background: $primary-orange;
        color: $primary-white;
        &:before {
          opacity: 0;
        }
      }
    }
  }

  .sub-nav-wrapper {
    width: 100%;
    height: 45px;
    position: relative;
    border-top: thin solid #fff;
    .sub-menu-wrapper {
      width: $menu-width;
      margin: 0 auto;
    }
    .sub-menu-titles {
      font-family: $secondary-title-font;
      font-size: $h3;
      font-weight: normal;
      display: inline-block;
      padding: $gutter/2 ($gutter)-2;
      position: relative;
      color: $primary-white;
      float: left;
      i.fa {
        font-size: 26px;
        float: right;
        margin-left: 10px;
      }
    }
  }
  ul.sub-level-1 {
    text-align: left;
    margin-top: 0px;
    background: transparent;
    width: ($menu-width)-215;
    height: 44px;
    overflow: hidden;
    padding: 0px;

    li {
      display: inline-block;
      list-style: none;
      margin-left: -4px;
    }
  }

  /**
  Active menu items
   */
  #sub-2 {
    background: $primary-green;

    li a {
      background: $primary-green;
      color: $primary-white;
      word-wrap: normal;
      font-size: $h4;
      //  min-width: 140px;
      &:before {
        background: darken($primary-green, 5%);
      }
      &:hover {
        background: darken($primary-green, 5%);
      }
    }
  }
  #menu-item-2.active {
    a {
      background: $primary-green;
      color: #fff;
    }
  }

  @include bl-md {
    nav, .sub-level-1 {
      ul.main-menu {
        text-align: left;
        margin: 0px;
      }
    }

    div.main-menu-wrapper {
      margin: 0px;
    }
    ul.main-menu {

    }
  }

  @include bl-sm {

    .sub-nav-wrapper {
      .sub-menu-wrapper {
        width: 100%;
      }
      .sub-menu-titles {
        display: block;
        float: none;
        cursor: pointer;

        i.fa {
          float: right;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }

    ul.sub-level-1 {
      height: 0px;
      overflow: hidden;
      z-index: 2000;
      width: 100%;
      margin-top: -2px;

      li {
        display: block;
        margin-left: 0px;

        a {
          display: block;
        }
      }
    }
    ul.sub-level-1.open {
      height: 400px;
      overflow-y: scroll;
    }
  }

}