/*
Base theme
------------------------------------------- */
@import 'variables';
@import '../functions';
@import '../mixin';

html, body {
  font-size: 100%;
  font-family: $base-font-family;
  background: $body-background-color;
}

//Colors

//Font faces

//Background colours

#bl-intro {
  background: $primary-color;
  .row {
    height: 100vh;
  }
  .card {
    background: $primary-color;
    img.intro-logo {
      width: 100px;
      margin: 15px 0px;
    }
  }

}

header {
  background: $primary-color;
  position: relative;

  .logo {
    width: 100px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
      max-width: 120px;
      border: none;
    }
  }
}

#leader-board {
  padding: 7px 0px;
  img {
    display: block;
    margin: 0 auto;
    max-width: 768px;
  }
}

#home-search {
  position: relative;
  min-height: 260px;

  .form-wrapper {
    div.row {
      min-height: 260px;
    }
  }

  #home-search-form {
    position: relative;
  }

  .your-location {
    position: absolute;
    top: 5px;
    right: 150px;
  }
  // Responsive styles
  @include bl-xs {
    .your-location {
      top: 5px;
      right: 60px;
    }
  }

}

.author-block {
  img {
    width: 44px;
  }
}

.img-fluid {
  width: 100%;
}

#full-news-block {

}
