
.content_body {
  padding: 0px 15px;
  .list {
    max-width: 490px;

  }
  .left_panel {
    padding: 0px 0px;
    border-right: thin solid #d8d8d8;
    height: 75vh;
    overflow-y: scroll;

    ul.list-unstyled li div.col-sm-3,
    ul.list-unstyled li div.col-sm-4,
    ul.list-unstyled li div.col-sm-1 {
      padding: 0px 5px;
    }

    ul.list-unstyled li {
      padding: 10px 10px 0px 10px;
      cursor: pointer;
      background: #fff;

      &:hover {
        background: #ececec;
      }

      div.divider {
        border-bottom: thin solid #d8d8d8;
        margin-top: 10px;
        margin-right: -10px;
        margin-left: -10px;
      }

      div.row {
        margin: 0px -5px 0px -5px;
      }
      div.item_info {
        p {
          display: inline-block;
          margin: 0px 10px 10px 0px;
          padding: 0px;
          font-size: 12px;
        }

        p.r_date {
          width: 98px;
          text-align: right;
          margin-right: 0px;
        }
        p.r_mails {
          margin-left: 15px;
        }
        .btn-default {
          border-radius: 100px;
          width: 44px;
          height: 44px;
          text-align: Center;
          padding: 0px;
          font-size: 17px;
          margin-right: 5px;
          background: #EEEEEE;
          -webkit-box-shadow: 0px 2px 8px rgba(81, 81, 81, .25);
          -moz-box-shadow: 0px 2px 8px rgba(81, 81, 81, .25);
          box-shadow: 0px 2px 8px rgba(81, 81, 81, .25);

          &:hover {
            background: #fff;
          }

        }

      }
    }

    i.fa-check {
      background: $dark_green;
      color: #fff;
      padding: 7px 10px;
      border-radius: 4px;

    }
  }
  .right_panel_no_results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    img {
      width: 168px;
      margin: 0 auto;
      opacity: .15;
      display: block;
    }

    h3 {
      font-size: 16px;
      width: 280px;
      color: #939393;
      text-align: center;
      margin: 30px auto;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, .2);
    }
  }
  .right_panel_info {
    background: #fff;
    position: relative;
  }
  .right_panel_header {
    background: #BAD5D6;
    margin: 0px -15px;
    padding: 10px;
    min-height: 54px;

    p {
      display: inline-block;
      margin: 7px 10px 0px 0px;
      padding: 0px;
      font-size: 12px;

    }

    p.r_date {
      margin: 7px 15px 0px 0px;
    }

    .btn {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      background: $label-danger;
      border: thin solid $label-danger;
      color: #fff;
      font-size: 17px;
      padding: 0px;
      text-align: center;
      margin-top: -5px;
      @extend .btn_blur;

      &:hover {
        background: #fff;
        border: thin solid #fff;
        color: #4a4a4a;
      }
    }
  }
  .right_panel_info {
    .btn-primary {
      border: none;
      text-align: center;
      height: 44px;
      background: #EEEEEE;
      border-radius: 0px;
      width: 100%;
      font-size: 12px;
      font-weight: bold;

      i.fa {
        font-size: 17px;
      }

      &:hover {
        background: #fff;
      }
    }

    ul.list-unstyled {
      padding: 0px;
      margin: 0px -15px;

      li:nth-child(even) {
        background: #f1f1f1;
      }
      li {
        padding: 5px 30px;
        height: 44px;
        border-bottom: thin solid transparent;

        &:hover {
          border-bottom: thin solid #d8d8d8;
        }

        div.col-sm-3,
        div.col-sm-4{
          p {
            font-size: 12px;
            color: #000;
            margin-top: 8px;
          }
          select {
            background: $label_info;
            color: #000;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
          }
        }

        .btn {
          border-radius: 100px;
          width: 32px;
          height: 32px;
          color: #fff;
          padding: 0px;
          border: none;
          display: inline-block;
          @extend .btn_blur;
        }

      }
    }

  }
}

.pagination {
  margin: 0 auto;
  justify-content: center;
}


.email_sync {
  padding: 0px 15px;
}

.easy_search {
  background: #e1e1e1;
  padding: 10px 15px;

  .btn-dark {
    width: 100%;
  }

  .form-group {
    margin: 0px;
  }

}

.content_header {
  background: #E9F4F0;
  padding: 10px 15px;

  h3 {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }

  label {
    font-weight: bold;
    font-size: 12px;
    color: #4a4a4a;
    margin: 0px;
  }

  button.btn-primary {
    background: $light_orange;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    border: thin solid $light_orange;
    padding: 7px 30px;
    margin-top: 15px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    @extend .btn_blur;
  }
}

.left_panel {
  width: 490px !important;
  max-width: 490px !important;
  flex: auto;
}

.right_panel {
  flex: none;
  max-width: none;

}

@media (max-width: 1023px) {
  * {
    display: none !important;
  }
}