.mail_box {
  div.card-header {
    padding: 10px;
    h3 {
      margin: 0px;
      font-size: 18px;
      color: #fff;
      padding-top: 11px;
    }
    button {
      border-radius: 100px;
      width: 44px;
      height: 44px;
      padding: 0px;
      @extend .btn_blur;
    }
  }
}

.kunde-mailbox {

  div.card-header {
    background: #434343;
  }

}