$light_green: #BAD5D6;
$light_grey: #9f9f9f;
$light_orange: #F8C179;
$dark_green: #49DAA7;
$label_green: #80B785;
$label_success: #D8F4CD;
$label_warning: #F9E9A6;
$label_danger: #D96F6F;
$label_info: #A8D1E8;

body, html {
  font-family: 'Arial', sans-serif;
  margin: 0px;
  padding: 0px;
}

.app-wrapper {
  padding-left: 60px;
  padding-right: 0px;
}

.content {
  padding: 15px 0px;
}

.text-info {
  color: #4A90E2 !important;
}

label.badge {
  width: 100%;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-default {
  background-color: #E9E9E9;
  color: #4A4A4A;
  font-weight: bold;
}

.btn {
  padding: .25rem 1.5rem;
  font-size: 13px;
}

button.mail-k {
  color: #808080 !important;
}

button.mail-l {
  color: #51A8FC !important;
}

label.badge-success {
  background: $label_success;
  color: #000;
}

label.badge-warning {
  background: $label_warning;
  color: #000;
}

label.badge-danger {
  background: $label_danger;
  color: #000;
}

label.badge-info {
  background: $label_info;
  color: #000;
}

button.btn-success {
  background: $label_green;

  &:hover {
    background: #fff;
    color: $label_green !important;
  }
}

button.btn-danger {
  background: $label_danger;
  &:hover {
    background: #fff;
    color: $label_danger !important;
  }
}

button.btn-info {
  background: #4A90E2;
  &:hover {
    background: #fff;
    color: #4A90E2 !important;
  }
}

label {
  font-size: 13px;
  color: #000;
  margin: 0px;
}

.btn_blur {
  -webkit-box-shadow: 0px 2px 8px rgba(81, 81, 81, .5);
  -moz-box-shadow: 0px 2px 8px rgba(81, 81, 81, .5);
  box-shadow: 0px 2px 8px rgba(81, 81, 81, .5);
}