@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i|Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

//Font and body colors

$body-background-color: #d7d7d7;
$primary-white: #ffffff;
$primary-color: #1E3546;
$primary-blue: #25475F;
$primary-green : #5D9536;
$primary-orange: #F5A623;
$secondary-orange: #ff732b;
$primary-red: #D0021B;
$primary-cayan: #4AD0E4;
$primary-navy: #1c5f8d;
$primary-cayan-dark: #76BBC5;
$bg-cayan: #B6DDE3;
$content-color: #000000;
$content-grey: #979797;

$content-color-light: lighten($content-color, 50%);
$content-color-dark: lighten($content-color, 25%);

//Font styles
$base-font-family: sans-serif;
$title-font: Merriweather, serif;
$content-font: Merriweather, serif;
$secondary-title-font: 'Roboto Condensed', sans-serif;
$border-radius: 0px;

//Content styles
$font-size-14: 14px;
$font-size-16: 16px;

//Headers
$h1: 27px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$h5: 14px;
$h6: 12px;

$zindex: 2000;
$gutter: 20px;
$form-height: 56px;
$menu-width:1024px;
