/*
Brusselslife v5.3 light theme
------------------------------------------- */
@import 'variables';
@import '../functions';
@import '../mixin';

html, body {
  font-family: $base-font-family;
  font-size: 100%;
  background: $body-background-color;
  -webkit-font-smoothing: antialiased;
}

//Colors

//Font faces

//Background colours

//Custom css components

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  color: $primary-blue;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  font-family: $title-font;
  color: $content-color-dark;
  font-size: $font-size-14;
  font-weight: 400;
  line-height: 1.6em;
}

figure {
  margin: 0px;
}

a, .btn-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

//Grid & container overrides //

@media (min-width: 576px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .col-md-7 {
    -ms-flex: 0 0 64.333333%;
    flex: 0 0 64.333333%;
    max-width: 64.333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 33.666667%;
    flex: 0 0 33.666667%;
    max-width: 33.666667%;

  }

}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1024px;
    max-width: 1024px;
    background: #fff;
    padding: 0px $gutter;
  }
}

.container {
  background: #fff;
  padding: 0px $gutter;
}

.block-edit {
  width: 100%;
  z-index: ($zindex)+1000;
  padding: $gutter/2;
  .block-info {
    .badge.block-name {
      padding: $gutter/2;
      font-size: $h2;
      font-family: $secondary-title-font;
    }
  }

}

.block-edit {
  //display: none !important;
}

.h-4 {
  height: 4px;
}

.bg-warning {
  background-color: $primary-orange;
}

.bg-primary {
  background-color: $primary-blue !important;
}

.bg-cayan {
  background-color: $primary-cayan-dark;
}

.bg-success-alpha {
  background-color: #BEDE99;
}

.bg-cayan-alpha {
  background-color: rgba(187, 221, 227, 0.4);
}

.bg-grey-alpha {
  background-color: #F0F0F0;
}

.bg-blue {
  background-color: $primary-color;

}

.bg-light-blue {
  background-color: $primary-cayan;

}

.bg-orange {
  //@include bg-warning;
  //@include h-4;
}

.category {
  text-transform: uppercase;
  padding: $gutter/2-3 0px;
  a {
    color: $primary-red;
    font-size: ($font-size-14)-1;
    font-weight: 600;
    line-height: 0em;

    i.fa {
      font-size: $font-size-16+2;
      line-height: 0em;
      margin-left: 7px;
    }
  }

  .comments-count {
    margin-left: 7px;
    font-size: 14px;
  }
}

div.imu-block {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.category-event {
  text-transform: uppercase;
  color: $secondary-orange;
  font-weight: 400;
  font-size: $h5;
  font-family: $secondary-title-font;
}

.flickity-prev-next-button .flickity-button-icon {
  left: 30%;
  width: 44%;
}

.flickity-button {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.card-body {
  padding: $gutter;
}

.text-primary {
  color: $primary-navy;
}

.block-title-full {
  margin: 0px -20px;
  a {
    text-decoration: none;
    color: #000;
    display: block;

    &:hover {
      h3 {
        color: $content-color-dark;
      }
    }
  }
  h3 {
    font-family: $secondary-title-font;
    color: #000;
    display: block;
    font-weight: bold;
    font-size: $h2;
    text-transform: uppercase;

    small {
      font-size: $h4;
      color: $content-color-dark;
      display: block;
      max-width: 600px;
      position: relative;
      margin: 0 auto;
      text-transform: none;

    }
  }

  .btn-link {
    font-family: $secondary-title-font;
    color: #000;
    font-size: $h5;
    padding: $gutter;
    font-weight: bold;
  }

}

.block-title {
  h2 {
    font-family: $title-font;
    font-size: $h3;
    color: $primary-blue;
    em {
      color: $primary-cayan-dark;
      font-weight: bold;
    }
  }
}

.block-title-mini {
  h2 {
    font-family: $secondary-title-font;
    font-size: ($h2)-2;
    text-transform: uppercase;
    color: $content-color-dark;
  }

}

.blife-filter {
  font-size: $h6;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: thin solid #BDBDBD;

  &:hover {
    background-color: #4A90E2;
    color: $primary-white !important;
    border: thin solid #4A90E2;
  }
}

.block-address-list {
  ul {
    li, li.media {

      h5 {
        font-family: $base-font-family;
        font-size: $font-size-14;
        font-weight: bold;
        color: #000;
        margin-bottom: $gutter/2-3;
      }
      p {
        font-family: $title-font;
        font-size: $h5 -1;
        font-weight: bold;
        line-height: 1.3em;
        color: $primary-blue;
        font-style: italic;

        span {
          font-style: normal;
          font-family: sans-serif;
          font-size: $h5;
          color: $content-color-light;
          display: block;
          font-weight: normal;
          margin: 7px 0px;
        }
      }

      &:hover {
        h5, p, p span {
          color: $primary-red;
        }
      }

    }
  }
}

//Components

footer {
  background-color: #101e27;
  .container {
    background-color: #101e27;
  }

  ul {
    padding: 0px;
    position: relative;
    margin: 0px 0px 40px 0px;
    li {
      list-style: none;

      a {
        color: #d8d8d8;
        font-size: 16px;
        display: block;
        padding: 3px 0px;
        font-family: $secondary-title-font;
        &:hover {
          color: #fff;
        }
      }
    }
    li:first-child {
      font-weight: bold;

      span {
        display: block;
        height: 2px;
        width: 10%;
        position: absolute;
        top: -10px;
        left: 0px;
        -webkit-transition: width .3s ease;
        -moz-transition: width .3s ease;
        -ms-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
      }

    }

    &:hover {
      li:first-child {
        span {
          width: 100%;
        }
      }
    }
  }
}

#bl-intro {
  background: $primary-color;
  .row {
    height: 100vh;
  }
  .card {
    background: $primary-color;
    img.intro-logo {
      width: 100px;
      margin: 15px 0px;
    }
    h1 {
      font-size: 72px;
      font-weight: 300;
    }
    p {
      font-weight: 300;
    }
  }

}

#leader-board {
  position: relative;
  padding: $gutter/2;
  a {
    border: none;
    display: block;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

#block-17 {
  h2 {
    text-transform: uppercase;
  }
}

.breadcrumb_wrapper {

  p, ol, ol li, a {
    font-family: $base-font-family;
    font-size: $h6;
  }

  ol li a, p a {
    color: $primary-cayan-dark;
    font-weight: bold;

    &:hover {
      color: #4A90E2;
    }
  }

  ul.list-group {
    border-radius: 4px;
    border: thin solid #4A90E2;
    width: 220px;
    left: -70px;
    top: -116px;
    display: none;
    @include shadow;

    &:before {
      content: "\f0d7";
      font: normal normal normal 20px/1 FontAwesome;
      position: absolute;
      z-index: 2000;
      color: #4A90E2;
      left: 50%;
      bottom: -13px;
      margin-left: -5px;

    }
    li {
      border: none;
      background: #4A90E2;
      font-family: $h5;
      padding: $gutter/2 ($gutter)-5
    }
    li:first-child {
      border-bottom: 2px solid #89B3E4;
    }

    li a {
      font-weight: bold;
      color: #fff;
      font-size: $h5;

      &:hover {
        color: $content-color-light;
      }
    }
  }
  ul.list-group.show {
    display: block;
  }
}

.content-body {
  font-family: $title-font;
  font-size: $h5;
  line-height: 1.8em;

  ul {
    li {
      list-style: none;
    }
  }
  h1, h2, h3, h4, h5, h6, p, ul li, table tr td {
    font-family: $title-font;
    line-height: 1.8em;
    color: $content-color-dark;
  }

  h1 {

  }
  h2 {

  }
  h3 {

  }
  h4 {

  }
  h5 {

  }
  h6 {

  }
  p {
    font-family: $title-font;
    font-size: $h4;
    line-height: 1.8em;
  }
  img, p img {
    margin-bottom: $gutter;
  }
}

.subscribe-form {

  h3, p {
    font-family: $base-font-family;
  }

  p {
    font-size: $h6;
    line-height: 1.4em;
  }

  input[type="email"] {

  }
}

.write-comments-count {

  border: thin solid #d8d8d8;
  padding: 7px;
  height: 43px;
  p {
    width: 75px;
    font-family: $base-font-family;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    line-height: 1em;
  }

}










