<div class="col-12 col-md-7">
    <div id="block-17" class="position-relative">
        {{#parseJSON '{"name": "BLOCK 17"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content">
            <div class="block-article">
                <div class="card border-0 rounded-0 mb-3 bg-grey-alpha">
                    <a href="#">
                        <figure>
                            <img class="rounded-0 card-img-top d-none d-sm-block"
                                 src="{{assets}}images/article_17.jpg" alt="Article block 1">
                        </figure>
                    </a>
                    <div class="card-body">
                        <div class="category py-0">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS INDIVIDUELS <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted p-0"><i class="fa fa-comment-o"
                                                                                       aria-hidden="true"></i><span
                                    class="comments-count ">10</span></a>
                        </div>
                        <a href="#">
                            <h2 class="my-2">
                                <strong>
                                    Les cafés bruxellois pour étudier
                                </strong>
                            </h2>
                            <p class="mb-0">
                                L'Abbaye de Villers-la-Ville accueille le magnifique spectacle "Nuit Des Chœurs"
                                les
                                24 et 25
                                août. Découvrez le très beau programme de l'événement:
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
