<div class="col-12 col-md-5 pr-lg-0 pr-md-0">
    <div id="block-20" class="position-relative">
        {{#parseJSON '{"name": "BLOCK 20"}'}}
        {{> block-edit}}
        {{/parseJSON}}
        <div class="block-content">

            <div class="block-address">
                <section style="background:url('{{assets}}images/article_1.jpg') center center no-repeat;">

                    <a href="#" class="address-info">

                        <i class="fa fa-map-marker"></i>
                        <h5 class="my-2">
                            Gonuts Donuts
                        </h5>
                        <address>
                            Rue Washington, 174 - 1050 Ixelles
                            Châtelain
                        </address>

                    </a>

                    <div class="overlay"></div>
                </section>
            </div>

            <div class="block-article">
                <ul class="list-unstyled">
                    <li class="flex-wrap media mb-3 border-bottom ">
                        <div class="media-image">
                            <a href="#">
                                <img src="{{assets}}images/article_small_2.jpg" alt="" class="mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    Le plateau du Heysel va pétiller avec "Les Feux de Laeken"


                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS INDIVIDUELS <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted"><i class="fa fa-comment-o"
                                                                                       aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                    <li class="flex-wrap media mb-3">
                        <div class="media-image">
                            <a href="#">
                                <img src="{{assets}}images/article_small_3.jpg" alt="" class="mr-3">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">
                                <h5>
                                    Brussels Summer Festival 2018 : demandez le programme
                                </h5>
                            </a>
                        </div>
                        <div class="category">
                            <a href="#" class="btn btn-link p-0" title="SPORTS INDIVIDUELS">
                                SPORTS INDIVIDUELS <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" class="float-right btn btn-link text-muted"><i class="fa fa-comment-o"
                                                                                       aria-hidden="true"></i><span
                                    class="comments-count">10</span></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>