<header>
    <section class="bg-transparent">
        <div class="row">
            <div class="col">
                <button class="side-menu-trigger btn btn-dark bg-transparent rounded-0 border-0 p-0">
                    <img src="{{assets}}svg/menu-bar.svg" alt="">
                </button>
            </div>
            <div class="col-4">

                <a href="/" class="logo">
                    <img src="{{assets}}images/brusselslife_logo.png"
                         title="Brusselslife.be"
                         name="Brusselslife.be"
                         alt="Brusselslife.be">
                </a>
            </div>
            <div class="col">
                <div class="d-flex flex-row-reverse nav-right">
                    <div id="lan-dropdown" data-toggle="dropdown">
                        <div class="dropdown">
                            <span>FR <i class="fa fa-caret-down"></i></span>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">EN</a>
                                </li>
                                <li>
                                    <a href="#">FR</a>
                                </li>
                                <li>
                                    <a href="#">NL</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#">Sign In <i class="fa fa-user"></i></a>
                    <a href="#">Newsletter <i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>

    </section>
    <nav>
        <div class="" id="blifeNavBar">
            <div class="main-menu-wrapper">
                <ul class="main-menu">
                    <li class="">
                        <a href="#">BRUXELLES PRATIQUE</a>
                    </li>
                    <li class=" active" id="menu-item-2">
                        <a href="#">BOIRE & MANGER</a>
                    </li>
                    <li class="">
                        <a href="#">SORTIES & LOISIRS </a>
                    </li>
                    <li class="">
                        <a href="#">SHOPPING </a>
                    </li>
                    <li class="">
                        <a href="#">BEAUTÉ & BIEN-ÊTRE </a>
                    </li>
                    <li class="">
                        <a href="#">SPORT </a>
                    </li>
                    <li class="">
                        <a href="#">HABITER & LOGER </a>
                    </li>
                    <li class=" item-agenda">
                        <a href="#">AGENDA </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sub-nav-wrapper" style="background:#5D9536;">
        <div class="sub-menu-wrapper">
            <div class="sub-menu-titles">
                ALL BOIRE & MANGER <i class="fa fa-angle-right"></i>
            </div>

            <ul id="sub-2" class="sub-level-1">
                <li><a href="#">RESTAURANTS</a></li>
                <li><a href="#">FRITERIES</a></li>
                <li><a href="#">SUR LE POUCE</a></li>
                <li><a href="#">FOOD TRUCKS</a></li>
                <li><a href="#">BARS & CAFÉS</a></li>
                <li><a href="#">TEA & COFFEE TIME</a></li>
                <li><a href="#">TRAITEURS</a></li>

            </ul>

        </div>
    </div>
    <div class="clearfix"></div>
</header>