<div class="list_preview" id="list_preview">
    <div class="card border-0">
        <div class="card-body">
            <div class="right_panel_header">
                <p class="r_id">
                    <strong>
                        EK-000001
                    </strong>
                </p>
                <p class="r_name text-info">
                    Ekornes Skandinavia A/S
                </p>
                <button class="btn btn-default btn-rounded float-right close_right_preview"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Close">
                    <i class="fa fa-close"></i>
                </button>
                <button class="btn btn-danger btn-rounded float-right"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <p class="r_date float-right">
                    <strong>
                        06/09/2018
                    </strong>
                </p>
            </div>
            <div class="right_panel_info">
                <div class="row">
                    <div class="col-sm-6 p-0 border-right">
                        <button class="btn btn-primary mail-k">
                            <i class="fa fa-envelope"></i> Kunde
                        </button>
                    </div>
                    <div class="col-sm-6 p-0">
                        <button class="btn btn-primary mail-l">
                            <i class="fa fa-envelope "></i> Leverandør
                        </button>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="row">
                            <div class="col-sm-4 text-right p-0 pr-4">
                                <p>
                                    <strong>
                                        Reklamasjon
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-4 p-0">
                                <label for="" class="badge badge-warning">
                                    Venter svar
                                </label>
                            </div>
                            <div class="col-sm-4 text-left p-0 pl-4">

                                <button class="btn btn-success" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Apply">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button class="btn btn-info" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Document">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Delete">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-4 text-right p-0 pr-4">
                                <p>
                                    <strong>
                                        Kreditnota
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-4 p-0">
                                <label for="" class="badge badge-success">
                                    Venter svar
                                </label>
                            </div>
                            <div class="col-sm-4 text-left p-0 pl-4">


                                <button class="btn btn-info">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-4 text-right p-0 pr-4">
                                <p>
                                    <strong>
                                        Product
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-4 p-0">
                                <select name="" class="form-control form-control-sm" id="">
                                    <option value="-1">Under behandling</option>
                                </select>
                            </div>
                            <div class="col-sm-4 text-left p-0 pl-4">

                                <button class="btn btn-success">
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>