@mixin bl-xs() {
  @media (max-width: 767px) {

    @content

  }
}
@mixin bl-sm() {
  @media (max-width: 1023px) {

    @content

  }
}

@mixin bl-md() {
  @media (max-width: 1024px) {

    @content

  }
}

@mixin bl-lg() {
  @media (max-width: 1100px) {

    @content

  }
}

@mixin shadow {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}



